---
#Actually NGX host and port
local_route: <%= spec.networks.send(properties.networks.apps).ip %>
external_port: <%= p("cc.external_port") %>

pid_filename: /var/vcap/sys/run/cloud_controller_clock/cloud_controller_ng.pid
newrelic_enabled: false
development_mode: false

message_bus_servers:
<% p("nats.machines").each do |address| %>
  - nats://<%= p("nats.user") %>:<%= p("nats.password") %>@<%= address %>:<%= p("nats.port") %>
<% end %>

external_protocol: <%= p("cc.external_protocol") %>
external_domain:
  - <%= p("cc.external_host") %>.<%= p("domain") %>

system_domain_organization: <%= p("system_domain_organization") %>
system_domain: <%= p("system_domain") %>
app_domains: [ <%= p("app_domains").join(", ") %> ]

jobs:
  global:
    timeout_in_seconds: <%= p("cc.jobs.global.timeout_in_seconds") %>
  <% if_p("cc.jobs.app_bits_packer.timeout_in_seconds") do |timeout| %>
  app_bits_packer:
    timeout_in_seconds: <%= timeout %>
  <% end %>
  <% if_p("cc.jobs.app_events_cleanup.timeout_in_seconds") do |timeout| %>
  app_events_cleanup:
    timeout_in_seconds: <%= timeout %>
  <% end %>
  <% if_p("cc.jobs.app_usage_events_cleanup.timeout_in_seconds") do |timeout| %>
  app_usage_events_cleanup:
    timeout_in_seconds: <%= timeout %>
  <% end %>
  <% if_p("cc.jobs.blobstore_delete.timeout_in_seconds") do |timeout| %>
  blobstore_delete:
    timeout_in_seconds: <%= timeout %>
  <% end %>
  <% if_p("cc.jobs.blobstore_upload.timeout_in_seconds") do |timeout| %>
  blobstore_upload:
    timeout_in_seconds: <%= timeout %>
  <% end %>
  <% if_p("cc.jobs.droplet_deletion.timeout_in_seconds") do |timeout| %>
  droplet_deletion:
    timeout_in_seconds: <%= timeout %>
  <% end %>
  <% if_p("cc.jobs.droplet_upload.timeout_in_seconds") do |timeout| %>
  droplet_upload:
    timeout_in_seconds: <%= timeout %>
  <% end %>
  <% if_p("cc.jobs.droplet_upload.timeout_in_seconds") do |timeout| %>
  droplet_upload:
    timeout_in_seconds: <%= timeout %>
  <% end %>

app_events:
  cutoff_age_in_days: <%= p("cc.app_events.cutoff_age_in_days") %>

app_usage_events:
  cutoff_age_in_days: <%= p("cc.app_usage_events.cutoff_age_in_days") %>

audit_events:
  cutoff_age_in_days: <%= p("cc.audit_events.cutoff_age_in_days") %>

failed_jobs:
  cutoff_age_in_days: <%= p("cc.failed_jobs.cutoff_age_in_days") %>

billing_event_writing_enabled: <%= p("cc.billing_event_writing_enabled") %>

default_app_memory: <%= p("cc.default_app_memory") %>
default_app_disk_in_mb: <%= p("cc.default_app_disk_in_mb") %>
maximum_app_disk_in_mb: <%= p("cc.maximum_app_disk_in_mb") %>

request_timeout_in_seconds: <%= p("request_timeout_in_seconds") %>

cc_partition: <%= p("cc.cc_partition") %>

bulk_api:
  auth_user: <%= p("cc.bulk_api_user") %>
  auth_password: "<%= p("cc.bulk_api_password") %>"

nginx:
  use_nginx: true
  instance_socket: "/var/vcap/sys/run/cloud_controller_ng/cloud_controller.sock"

index: <%= spec.index %>
name: <%= name %>

info:
  name: <%= p("name") %>
  build: "<%= p("build") %>"
  version: <%= p("version") %>
  support_address: <%= p("support_address") %>
  description: <%= p("description") %>

<% if_p("cc.directories") do %>
directories:<% p("cc.directories").each do |key, value| %>
  <%= key %>: <%= value %><% end %>
<% end %>

logging:
  file: /var/vcap/sys/log/cloud_controller_clock/cloud_controller_clock.log
  <% if_p("syslog_aggregator.address") do %>
  syslog: vcap.cloud_controller_ng
  <% end %>
  level: <%= p("cc.logging_level") %>
  max_retries: <%= p("cc.logging_max_retries") %>

<% if_p("loggregator_endpoint.host", "loggregator_endpoint.port", "loggregator_endpoint.shared_secret") do |host, port, shared_secret| %>
loggregator:
  router: <%= host %>:<%= port %>
  shared_secret: <%= shared_secret %>
  url: ws<%= "s" if p("logger_endpoint.use_ssl") %>://loggregator.<%= p("system_domain") %>:<%= p("logger_endpoint.port") %>
<% end %>

<% db = p("ccdb.databases").find { |db| db["tag"] == "cc" } %>
<% db_role = p("ccdb.roles").find { |role| role["tag"] == "admin" } %>
db: &db
  database: <%= p("ccdb.db_scheme") == "mysql" ? "mysql2" : p("ccdb.db_scheme") %>://<%= db_role["name"] %>:<%= db_role["password"] %>@<%= p("ccdb.address") %>:<%= p("ccdb.port") %>/<%= db["name"] %>
  max_connections: <%= p("ccdb.max_connections") %>
  pool_timeout: <%= p("ccdb.pool_timeout") %>
  log_level: <%= p("cc.db_logging_level") %>

<% scheme = p("uaa.no_ssl") ? "http" : "https"
   domain = p("domain") %>

<% if p("login.enabled") %>
login:
  url: <%= p("login.url", "#{scheme}://login.#{domain}") %>
<% end %>
uaa:
  url: <%= p("uaa.url", "#{scheme}://uaa.#{domain}") %>
  resource_id: <%= p("cc.uaa_resource_id") %>
  <% if_p("uaa.cc.token_secret") do |token_secret| %>
  symmetric_secret: "<%= token_secret %>"
  <% end %>
  verification_key: <%= p("uaa.jwt.verification_key") ? ("|\n      " + p("uaa.jwt.verification_key").gsub("\n", "\n      ")) : '~' %>

# App staging parameters
staging:
  timeout_in_seconds: <%= p("cc.staging_timeout_in_seconds") %>
  minimum_staging_memory_mb: <%= p("dea_next.staging_memory_limit_mb") %>
  minimum_staging_disk_mb: <%= p("dea_next.staging_disk_limit_mb") %>
  auth:
    user: <%= p("cc.staging_upload_user") %>
    password: "<%= p("cc.staging_upload_password") %>"

maximum_health_check_timeout: <%= p("cc.maximum_health_check_timeout") %>

runtimes_file: /var/vcap/jobs/cloud_controller_ng/config/runtimes.yml
stacks_file: /var/vcap/jobs/cloud_controller_clock/config/stacks.yml

quota_definitions:
  <% p("cc.quota_definitions").each do |name, quota_properties| %>
  <%= name %>:<% quota_properties.each do |key,value|%>
    <%= key %>: <%= value %><% end %>
  <% end %>

default_quota_definition: <%= p("cc.default_quota_definition") %>

resource_pool:
  minimum_size: <%= p("cc.resource_pool.minimum_size") %>
  maximum_size: <%= p("cc.resource_pool.maximum_size") %>
  resource_directory_key: <%= p("cc.resource_pool.resource_directory_key") %>
  <% if_p("cc.resource_pool.cdn") do %>
  cdn:
    uri: <%= p("cc.resource_pool.cdn.uri") %>
    key_pair_id: <%= p("cc.resource_pool.cdn.key_pair_id") %>
    private_key: <%= p("cc.resource_pool.cdn.private_key").inspect %>
  <% end %>
  fog_connection: <%= p(["cc.resource_pool.fog_connection", "cc.default_fog_connection"]).to_json %>

packages:
  app_package_directory_key: <%= p("cc.packages.app_package_directory_key") %>
  max_package_size: <%= p("cc.packages.max_package_size") %>
  <% if_p("cc.packages.cdn") do %>
  cdn:
    uri: <%= p("cc.packages.cdn.uri") %>
    key_pair_id: <%= p("cc.packages.cdn.key_pair_id") %>
    private_key: <%= p("cc.packages.cdn.private_key").inspect %>
  <% end %>
  fog_connection: <%= p(["cc.packages.fog_connection", "cc.default_fog_connection"]).to_json %>

droplets:
  droplet_directory_key: <%= p("cc.droplets.droplet_directory_key") %>
  <% if_p("cc.droplets.cdn") do %>
  cdn:
    uri: <%= p("cc.droplets.cdn.uri") %>
    key_pair_id: <%= p("cc.droplets.cdn.key_pair_id") %>
    private_key: <%= p("cc.droplets.cdn.private_key").inspect %>
  <% end %>
  fog_connection: <%= p(["cc.droplets.fog_connection", "cc.default_fog_connection"]).to_json %>

buildpacks:
  buildpack_directory_key: <%= p("cc.buildpacks.buildpack_directory_key") %>
  <% if_p("cc.buildpacks.cdn") do %>
  cdn:
    uri: <%= p("cc.buildpacks.cdn.uri") %>
    key_pair_id: <%= p("cc.buildpacks.cdn.key_pair_id") %>
    private_key: <%= p("cc.buildpacks.cdn.private_key").inspect %>
  <% end %>
  fog_connection: <%= p(["cc.buildpacks.fog_connection", "cc.default_fog_connection"]).to_json %>

db_encryption_key: <%= p("cc.db_encryption_key") %>

tasks_disabled: <%= p("cc.tasks_disabled") %>
flapping_crash_count_threshold: <%= p("cc.flapping_crash_count_threshold") %>

disable_custom_buildpacks: <%= p("cc.disable_custom_buildpacks") %>

broker_client_timeout_seconds: <%= p("cc.broker_client_timeout_seconds") %>

renderer:
  max_results_per_page: <%= p("cc.renderer.max_results_per_page") %>
  default_results_per_page: <%= p("cc.renderer.default_results_per_page") %>
  max_inline_relations_depth: <%= p("cc.renderer.max_inline_relations_depth") %>

<% if_p("uaa.clients.cc_service_broker_client.secret") do %>
uaa_client_name: "cc_service_broker_client"
uaa_client_secret: <%= p("uaa.clients.cc_service_broker_client.secret") %>
uaa_client_scope: <%= p("uaa.clients.cc_service_broker_client.scope") %>
<% end %>

diego: <%= p("cc.diego") %>

<% if_p("ssl.skip_cert_verify") do |skip_cert_verify|%>
skip_cert_verify: <%= skip_cert_verify %>
<% end %>

app_bits_upload_grace_period_in_seconds: <%= p("cc.app_bits_upload_grace_period_in_seconds") %>

security_group_definitions: <%= p("cc.security_group_definitions").to_json %>
default_running_security_group: <%= p("cc.default_running_security_group") %>
default_staging_security_group: <%= p("cc.default_staging_security_group") %>
