<!DOCTYPE html>
<html>
  <head>
    <title>{{resource_name}} API</title>
    <meta charset="utf-8">
    <link id="bootstrapcss" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"></link>
    <script>
      if( "file:" == document.location.protocol ) {
        var csslink = document.getElementById("bootstrapcss");
        csslink.href = "http://" + csslink.href.replace(/.*\/\//, "");
      }
    </script>
    <style>
      p {
        padding: 15px;
        font-size: 130%;
      }

      pre {
        white-space: pre-wrap;
      }

      td.required .name:after {
        float: right;
        content: " required";
        font-weight: normal;
        color: #F08080;
      }

      tr.deprecated .name:before {
        content: "deprecated: ";
        font-weight: bold;
      }

      tr.deprecated {
        text-decoration: line-through;
        color: grey;
      }

      tr.readonly .name:after {
        float: right;
        content: " read-only";
        font-weight: normal;
      }

      tr.readonly {
        color: grey;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>{{resource_name}} API</h1>

      <div class="article">
        <h2>{{ description }}</h2>
        <h3>{{ http_method }} {{ route }}</h3>
        {{# explanation }}
          <p class="explanation">
            {{ explanation }}
          </p>
        {{/ explanation }}

        <h3>Fields</h3>
        <table class="fields table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Default</th>
              <th>Valid Values</th>
              <th>Example Values</th>
            </tr>
          </thead>
          <tbody>
            {{# fields }}
            <tr class="{{# deprecated }}deprecated{{/ deprecated }} {{# readonly }}readonly{{/ readonly }}">
              <td{{# required }} class="required"{{/ required }}>
                <span class="name">{{ name }}</span>
              </td>
              <td>
                <span class="description">{{ description }}</span>
              </td>
              <td>
                <span class="default">{{ default }}</span>
              </td>
              <td>
                <ul class="valid_values">
                {{# valid_values }}
                    <li>{{ . }}</li>
                {{/ valid_values }}
                </ul>
              </td>
              <td>
                <ul class="example_values">
                {{# example_values }}
                    <li>{{ . }}</li>
                {{/ example_values }}
                </ul>
              </td>
            </tr>
            {{/ fields }}
          </tbody>
        </table>

        {{# has_parameters? }}
          <h3>Parameters</h3>
          <table class="parameters table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {{# parameters }}
            <tr>
              <td{{# required }} class="required"{{/ required }}>
                {{# scope }}
                  <span class="name">{{ scope }}[{{ name }}]</span>
                {{/ scope }}
                {{^ scope }}
                  <span class="name">{{ name }}</span>
                {{/ scope }}
                </td>
                <td>
                  <span class="description">{{ description }}</span>
                </td>
              </tr>
              {{/ parameters }}
            </tbody>
          </table>
        {{/ has_parameters? }}


        {{# requests }}
          <h3>Request</h3>

          <h4>Headers</h4>
          <pre class="request headers">{{ request_headers_text }}</pre>

          <h4>Route</h4>
          <pre class="request route highlight">{{ request_method }} {{ request_path }}</pre>

          {{# request_query_parameters_text }}
            <h4>Query Parameters</h4>
            <pre class="request query_parameters highlight">{{ request_query_parameters_text }}</pre>
          {{/ request_query_parameters_text }}

          {{# request_body }}
            <h4>Body</h4>
            <pre class="request body">{{{ request_body }}}</pre>
          {{/ request_body }}

          {{# curl }}
            <h4>cURL</h4>
          <pre class="request curl">{{ curl }}</pre>
          {{/ curl }}

          {{# response_status }}
            <h3>Response</h3>
            <h4>Headers</h4>
            <pre class="response headers">{{ response_headers_text }}</pre>
            <h4>Status</h4>
            <pre class="response status">{{ response_status }} {{ response_status_text}}</pre>
            {{# response_body }}
              <h4>Body</h4>
              <pre class="response body">{{{ response_body }}}</pre>
            {{/ response_body }}
          {{/ response_status }}

        {{/ requests }}

        {{# audit_records.any? }}
          <h3>Audit Records Created By The Request</h3>
        {{/ audit_records.any? }}
        {{# audit_records }}
          <h4>Audit Record: {{ type }}</h4>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Attribute Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              {{# attributes }}
              <tr>
                <td>
                  <span class="name">{{ attribute_name }}</span>
                </td>
                <td>
                  {{# is_json }}
                    <pre>{{ value }}</pre>
                  {{/ is_json }}
                  {{^ is_json }}
                  <span class="description">{{ value }}</span>
                  {{/ is_json }}
                </td>
              </tr>
              {{/ attributes }}
            </tbody>
          </table>
        {{/ audit_records }}
      </div>
    </div>
  </body>
</html>
